$primary: #ebdbb2;
$onPrimary: #58124c;
$primaryContainer: #732b64;
$onPrimaryContainer: #ffd7f1;
$error: #ffb4a9;
$surface: #32302F;
$onSurface: #eae0e3;
$surfaceVariant: #4e4b4a;
$onSurfaceVariant: #d2c3ca;
$shadow: #000000;
